@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F2F3D9;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 500;
    color: #030027;
    margin: 40px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

article {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    background-color: #C16E70;
    width: 280px;
    height: 350px;
    border-radius: 5px;
    margin: 40px;
    padding: 10px;


}

p {
    text-align: center;
    font-weight: 400;
    border: 5px solid blue;

}


.nav {
    display: flex;
    flex-direction: row;
    background-color: #151E3F;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: nowrap;

}

.caps {
    text-transform: uppercase;
    font-weight: 500;
}

span {
    margin: 10px;
    color: white;
    flex-shrink: 0;
}